fiap-java-webservices-fornecedor/src/main/webapp/WEB-INF/wsdl/FornecedorServiceSOAPService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://services.fiap.com.br/" name="FornecedorServiceSOAPService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.fiap.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.fiap.com.br/" schemaLocation="FornecedorServiceSOAPService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="efetuarPedido">
    <part name="parameters" element="tns:efetuarPedido"/>
    <part name="Username" element="tns:Username"/>
    <part name="Password" element="tns:Password"/>
  </message>
  <message name="efetuarPedidoResponse">
    <part name="result" element="tns:efetuarPedidoResponse"/>
  </message>
  <message name="PedidoException">
    <part name="fault" element="tns:PedidoException"/>
  </message>
  <message name="listarProdutos">
    <part name="parameters" element="tns:listarProdutos"/>
    <part name="Username" element="tns:Username"/>
    <part name="Password" element="tns:Password"/>
  </message>
  <message name="listarProdutosResponse">
    <part name="result" element="tns:listarProdutosResponse"/>
  </message>
  <message name="ProdutoException">
    <part name="fault" element="tns:ProdutoException"/>
  </message>
  <portType name="FornecedorServiceSOAP">
    <operation name="efetuarPedido" parameterOrder="parameters Username Password">
      <input wsam:Action="http://services.fiap.com.br/FornecedorServiceSOAP/efetuarPedidoRequest" message="tns:efetuarPedido"/>
      <output wsam:Action="http://services.fiap.com.br/FornecedorServiceSOAP/efetuarPedidoResponse" message="tns:efetuarPedidoResponse"/>
      <fault message="tns:PedidoException" name="PedidoException" wsam:Action="http://services.fiap.com.br/FornecedorServiceSOAP/efetuarPedido/Fault/PedidoException"/>
    </operation>
    <operation name="listarProdutos" parameterOrder="parameters Username Password">
      <input wsam:Action="http://services.fiap.com.br/FornecedorServiceSOAP/listarProdutosRequest" message="tns:listarProdutos"/>
      <output wsam:Action="http://services.fiap.com.br/FornecedorServiceSOAP/listarProdutosResponse" message="tns:listarProdutosResponse"/>
      <fault message="tns:ProdutoException" name="ProdutoException" wsam:Action="http://services.fiap.com.br/FornecedorServiceSOAP/listarProdutos/Fault/ProdutoException"/>
    </operation>
  </portType>
  <binding name="FornecedorServiceSOAPPortBinding" type="tns:FornecedorServiceSOAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="efetuarPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:efetuarPedido" part="Username" use="literal"/>
        <soap:header message="tns:efetuarPedido" part="Password" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PedidoException">
        <soap:fault name="PedidoException" use="literal"/>
      </fault>
    </operation>
    <operation name="listarProdutos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:listarProdutos" part="Username" use="literal"/>
        <soap:header message="tns:listarProdutos" part="Password" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ProdutoException">
        <soap:fault name="ProdutoException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="FornecedorServiceSOAPService">
    <port name="FornecedorServiceSOAPPort" binding="tns:FornecedorServiceSOAPPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

